
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>rptHolderList</title>
</head>
<body>
    <div class="col-md-12 col-lg-12 col-sm-12">
        <iframe runat="server" id="Reports" src="~/WebForms/Holding/HolderList.aspx"
                style="width:200%; min-height:1000px" frameBorder="0"></iframe>

    </div>
</body>
</html>
