
@{
    ViewBag.Title = "rptHolderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div style="justify-content:center;text-align:center;">
        <h2></h2>
        <div class="col-md-12 col-lg-12 col-sm-12 offset-2">
            <iframe runat="server" id="Reports" src="~/WebForms/Holding/HolderDetails.aspx"
                    style="width:100%; min-height:1000px" frameBorder="0"></iframe>

        </div>


    </div>




