
@{
    Layout = null;
}

@*<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="text-dark font-weight-bold my-1 mr-5">পুরাতন প্লট মালিকদের রিপোর্ট </h5>
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item text-muted">
                        <a href="#" class="text-muted"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <a onclick="return goBack();" class="btn btn-light-primary font-weight-bolder btn-sm"><i class="fas fa-arrow-left"></i>আগের পেজে যান</a>
        </div>
    </div>
</div>*@


<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-custom gutter-b example example-compact">
                    <div class="card-body" id="print_div">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12 offset-1">
                                <iframe runat="server" id="Reports" src="~/WebForms/Holding/OldFlatOwnerReport.aspx"
                                        style="width:100%; min-height:1000px" frameBorder="0"></iframe>

                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
