
@{
    ViewBag.Title = "ProductList";
}

<div class="text-center">
    <h1 class="display-4">Welcome SSL Commerz </h1>
</div>
<div class="row">
    <div class="col-md-12">
        <p><span>Product Name:</span>Holding Tax of Mr. Anis for 2021</p>
        <p><span>Price :</span> 36800 TK</p>
        <a class="btn btn-primary" href="/cart/checkout"> <i class="fa fa-check"></i> Checkout</a>
    </div>
</div>

