@using HoldingTaxWebApp.Helpers;





    <!-- Button trigger modal-->


    <div class="topbar-item">

        <span>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <span class="font-weight-bold font-size-sm d-none d-md-inline" style="color: white;">@Session[CommonConstantHelper.UserName]</span>
            </button>
        </span>
    </div>

    <div class="topbar-item">
        <button class="btn btn-primary ">
            <span>
                @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a class="btn btn-label btn-label-brand btn-bold" style="color: white;" href="javascript:document.getElementById('logoutForm').submit()">লগআউট করুন</a>
                }
            </span>
        </button>
    </div>

