@using HoldingTaxWebApp.Helpers;

<div class="topbar-item">
    <div class="btn btn-icon btn-hover-transparent-white w-auto d-flex align-items-center btn-lg px-2" id="kt_quick_user_toggle">
        <div class="d-flex flex-column text-right pr-3">
            <span class="text-white font-weight-bold font-size-sm d-none d-md-inline">@Session[CommonConstantHelper.UserName]</span>
        </div>

    </div>
    <span>
        @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a class="btn btn-label btn-label-brand btn-bold" style="color:white;" href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a>
        }
    </span>
</div>
