
@using HoldingTaxWebApp.Helpers

@if ((Convert.ToInt32(Session[CommonConstantHelper.UserTypeId]) == 1))
{
    <div class="container">
        <!--begin::Header Menu Wrapper-->
        <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
            <!--begin::Header Menu-->
            <div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile header-menu-layout-default">
                <!--begin::Header Nav-->
                <ul class="menu-nav">
                    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="hover" aria-haspopup="true">
                        <a href="~/Home/Index" class="menu-link">
                            <span class="menu-text">ড্যাশবোর্ড</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                            <ul class="menu-subnav">
                                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                    <a href="~/Employee/Index" class="menu-link">
                                        <span class="svg-icon menu-icon">
                                            <i class="fas fa-users"></i>
                                        </span>
                                        <span class="menu-text">ঢাকা ক্যাটনমেন্ট বোর্ডের কর্মকর্তা ও কর্মচারীবৃন্দ</span>
                                        <i class="menu-arrow"></i>
                                    </a>
                                    <div class="menu-submenu menu-submenu-classic menu-submenu-right">
                                        <ul class="menu-subnav">
                                            <li class="menu-item" aria-haspopup="true">
                                                <a href="~/Employee/Index" class="menu-link">
                                                    @*<i class="menu-bullet menu-bullet-dot">
                                                        <span></span>
                                                    </i>*@
                                                    <span class="svg-icon menu-icon">
                                                        <i class="fas fa-users"></i>
                                                    </span>
                                                    <span class="menu-text">ঢাকা ক্যাটনমেন্ট বোর্ডের কর্মকর্তা ও কর্মচারীবৃন্দের তালিকা</span>
                                                </a>
                                            </li>
                                            <li class="menu-item" aria-haspopup="true">
                                                <a href="~/Designation/Index" class="menu-link">
                                                    <span class="svg-icon menu-icon">
                                                        <i class="fas fa-user"></i>
                                                    </span>
                                                    <span class="menu-text">
                                                        ঢাকা ক্যাটনমেন্ট বোর্ডের কর্মকর্তা ও কর্মচারীবৃন্দের পদবির তালিকা
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>

                            <ul class="menu-subnav">
                                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                    <a href="~/User/Index" class="menu-link">
                                        <span class="svg-icon menu-icon">
                                            <i class="fas fa-user"></i>
                                        </span>
                                        <span class="menu-text">সফটওয়্যার ব্যবহারকারী</span>
                                        <i class="menu-arrow"></i>
                                    </a>
                                    <div class="menu-submenu menu-submenu-classic menu-submenu-right">
                                        <ul class="menu-subnav">
                                            <li class="menu-item" aria-haspopup="true">
                                                <a href="~/HolderUser/Index" class="menu-link">
                                                    <span class="svg-icon menu-icon">
                                                        <i class="fas fa-user"></i>
                                                    </span>
                                                    <span class="menu-text">সফটওয়্যার ব্যবহারকারীদের তালিকা (গৃহকরদাতা) </span>
                                                </a>
                                            </li>
                                            <li class="menu-item" aria-haspopup="true">
                                                <a href="~/User/Index" class="menu-link">
                                                    <span class="svg-icon menu-icon">
                                                        <i class="fas fa-user"></i>
                                                    </span>
                                                    <span class="menu-text">সফটওয়্যার ব্যবহারকারীদের  তালিকা (ঢাকা ক্যাটনমেন্ট বোর্ড)</span>
                                                </a>
                                            </li>
                                            <li class="menu-item" aria-haspopup="true">
                                                <a href="~/Role/Index" class="menu-link">
                                                    <span class="svg-icon menu-icon">
                                                        <i class="fas fa-user"></i>
                                                    </span>
                                                    <span class="menu-text">সফটওয়্যার ব্যবহারকারীদের রোলের তালিকা (ঢাকা ক্যাটনমেন্ট বোর্ড)</span>
                                                </a>
                                            </li>
                                            <li class="menu-item" aria-haspopup="true">
                                                <a href="~/UserPermission/Create" class="menu-link">
                                                    <span class="svg-icon menu-icon">
                                                        <i class="fas fa-user"></i>
                                                    </span>
                                                    <span class="menu-text">সফটওয়্যার ব্যবহারকারীদের অনুমতি প্রদান (ঢাকা ক্যাটনমেন্ট বোর্ড)</span>
                                                </a>
                                            </li>


                                        </ul>
                                    </div>
                                </li>
                            </ul>



                            <ul class="menu-subnav">
                                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                    <a href="~/DOHSArea/Index" class="menu-link">
                                        <span class="svg-icon menu-icon">
                                            <i class="fas fa-map-marked"></i>
                                        </span>
                                        <span class="menu-text">এলাকা</span>
                                    </a>

                                </li>
                            </ul>

                            <ul class="menu-subnav">
                                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                    <a href="~/Plot/Index" class="menu-link">
                                        <span class="svg-icon menu-icon">
                                            <i class="fas fa-map-signs"></i>
                                        </span>
                                        <span class="menu-text">প্লট</span>
                                    </a>

                                </li>
                            </ul>

                            <ul class="menu-subnav">
                                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                    <a href="~/ConstantValue/Details" class="menu-link">
                                        <span class="svg-icon menu-icon">
                                            <i class="fas fa-percentage"></i>
                                        </span>
                                        <span class="menu-text">প্রয়োজনীয় হারসমূহ</span>
                                    </a>

                                </li>
                            </ul>

                            <ul class="menu-subnav">
                                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                    <a href="~/RentTaxTate/Index" class="menu-link">
                                        <span class="svg-icon menu-icon">
                                            <i class="fas fa-percentage"></i>
                                        </span>
                                        <span class="menu-text">এলাকা ভিত্তিক গৃহকরের হার </span>
                                    </a>

                                </li>
                            </ul>

                            <ul class="menu-subnav">
                                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                    <a href="~/OwnTaxRate/Index" class="menu-link">
                                        <span class="svg-icon menu-icon">
                                            <i class="fas fa-percentage"></i>
                                        </span>
                                        <span class="menu-text"> মালিকানা ধরণের করের হার</span>
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="hover" aria-haspopup="true">
                        <a href="#" class="menu-link">
                            <span class="menu-text">প্লট মালিক ও গৃহকরদাতা </span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                            <ul class="menu-subnav">
                                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                    <a href="~/PlotOwner/Index" class="menu-link">
                                        <span class="svg-icon menu-icon">
                                            <i class="fas fa-street-view"></i>
                                        </span>
                                        <span class="menu-text">প্লট মালিকদের তালিকা</span>
                                    </a>
                                </li>
                                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                    <a href="~/Holding/Index" class="menu-link">
                                        <span class="svg-icon menu-icon">
                                            <i class="fas fa-house-user"></i>
                                        </span>
                                        <span class="menu-text">গৃহকরদাতাদের তালিকা</span>
                                    </a>
                                </li>

                                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                    <a href="~/OldPlotOwner/Create" class="menu-link">
                                        <span class="svg-icon menu-icon">
                                            <i class="far fa-handshake"></i>
                                        </span>
                                        <span class="menu-text">জমি হস্তান্তর ফরম</span>
                                    </a>
                                </li>

                                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                    <a href="~/OldPlotOwner/Index" class="menu-link">
                                        <span class="svg-icon menu-icon">
                                            <i class="fas fa-history"></i>
                                        </span>
                                        <span class="menu-text">পুরাতন জমি মালিকের তালিকা</span>
                                    </a>
                                </li>

                                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                    <a href="~/Holding/FlatTransfer" class="menu-link">
                                        <span class="svg-icon menu-icon">
                                            <i class="fas fa-handshake"></i>
                                        </span>
                                        <span class="menu-text">ফ্ল্যাট হস্তান্তর ফর্ম </span>
                                    </a>
                                </li>
                                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                    <a href="~/HolderFlatHistory/Index" class="menu-link">
                                        <span class="svg-icon menu-icon">
                                            <i class="fas fa-history"></i>
                                        </span>
                                        <span class="menu-text">পুরাতন ফ্ল্যাট মালিকের তালিকা</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="hover" aria-haspopup="true">
                        <a href="#" class="menu-link">
                            <span class="menu-text">গৃহকর</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                            <ul class="menu-subnav">
                                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                    <a href="~/HoldingTax/Index" class="menu-link">
                                        <span class="svg-icon menu-icon">
                                            <i class="fas fa-info-circle"></i>
                                        </span>
                                        <span class="menu-text">গৃহকরের তথ্য</span>
                                    </a>
                                </li>
                            </ul>

                            @*<ul class="menu-subnav">
                                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                    <a href="~/HoldingTax/RegenerateTax" class="menu-link">
                                        <span class="svg-icon menu-icon">
                                            <i class="fas fa-info"></i>
                                        </span>
                                        <span class="menu-text">গৃহকরের তথ্য পুনরায় হালনাগাদকরণ</span>
                                    </a>
                                </li>
                            </ul>*@

                            <ul class="menu-subnav">
                                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                    <a href="~/SPG/Index" class="menu-link">
                                        <span class="svg-icon menu-icon">
                                            <i class="fas fa-hand-holding-usd"></i>
                                        </span>
                                        <span class="menu-text">অনলাইন লেনদেন </span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </li>

                    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="hover" aria-haspopup="true">
                        <a href="#" class="menu-link">
                            <span class="menu-text">বিজ্ঞপ্তি এবং মেসেজ </span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                            <ul class="menu-subnav">
                                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                    <a href="~/Issue/Index" class="menu-link">
                                        <span class="svg-icon menu-icon">
                                            <i class="fas fa-envelope-open-text"></i>
                                        </span>
                                        <span class="menu-text">মেসেজ বক্স</span>
                                    </a>
                                </li>

                                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                    <a href="~/Notice/Index" class="menu-link">
                                        <span class="svg-icon menu-icon">
                                            <i class="fas fa-th-list"></i>
                                        </span>
                                        <span class="menu-text">গৃহকর সংক্রান্ত বিজ্ঞপ্তি</span>
                                    </a>
                                </li>

                            </ul>

                        </div>
                    </li>
                    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="hover" aria-haspopup="true">
                        <a href="~/Home/ReportIndex" class="menu-link">
                            <span class="menu-text">রিপোর্টস</span>
                            <i class="menu-arrow"></i>
                        </a>
                    </li>
                </ul>
                <!--end::Header Nav-->
            </div>
            <!--end::Header Menu-->
        </div>
        <!--end::Header Menu Wrapper-->
    </div>
}
else if ((Convert.ToInt32(Session[CommonConstantHelper.UserTypeId]) == 2))
{
    <div class="container">
        <!--begin::Header Menu Wrapper-->
        <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
            <!--begin::Header Menu-->
            <div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile header-menu-layout-default">
                <!--begin::Header Nav-->
                <ul class="menu-nav">
                    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="hover" aria-haspopup="true">
                        <a href="~/Home/Holder" class="menu-link">
                            <span class="menu-text">ড্যাশবোর্ড</span>
                            <i class="menu-arrow"></i>
                        </a>
                    </li>
                    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="hover" aria-haspopup="true">
                        <a href="~/HolderClient/HolderProfile" class="menu-link">
                            <span class="menu-text">প্রোফাইল</span>
                            <i class="menu-arrow"></i>
                        </a>
                    </li>
                    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="hover" aria-haspopup="true">
                        <a href="~/HoldingTax/Index" class="menu-link">
                            <span class="menu-text">গৃহকর</span>
                            <i class="menu-arrow"></i>
                        </a>
                    </li>
                    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="hover" aria-haspopup="true">
                        <a href="~/Notice/NewIndex" class="menu-link">
                            <span class="menu-text"> গৃহকর সংক্রান্ত বিজ্ঞপ্তি</span>
                            <i class="menu-arrow"></i>
                        </a>
                    </li>
                    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="hover" aria-haspopup="true">
                        <a href="~/Issue/Index" class="menu-link">
                            <span class="menu-text">মেসেজ </span>
                            <i class="menu-arrow"></i>
                        </a>
                    </li>



                    @*<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="hover" aria-haspopup="true">
                            <a href="#" class="menu-link">
                                <span class="menu-text">অনলাইনে বিল পরিশোধ করুন </span>
                                <i class="menu-arrow"></i>
                            </a>
                        </li>

                        <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="hover" aria-haspopup="true">
                            <a href="#" class="menu-link">
                                <span class="menu-text">রিপোর্টস</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                            </div>
                        </li>*@
                </ul>
                <!--end::Header Nav-->
            </div>
            <!--end::Header Menu-->
        </div>
        <!--end::Header Menu Wrapper-->
    </div>
}

else
{
    <div class="container">
        <!--begin::Header Menu Wrapper-->
        <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
            <!--begin::Header Menu-->
            <div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile header-menu-layout-default">
            </div>
        </div>
    </div>
}


