
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>rptPaidTax</title>
</head>
<body>
    <div style="justify-content:center;text-align:center;">
        <h2></h2>

        <iframe runat="server" id="Reports" src="~/WebForms/Tax/PaidTax.aspx"
                style="width:100%; min-height:1000px" frameBorder="0"></iframe>

    </div>
</body>
</html>
