
@{
    ViewBag.Title = "Test";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <form method="post" action="~/Home/Test">
        <input type="text" name="newParam" />
        <input type="submit" />
    </form>
    <h1>@ViewBag.Data</h1>
</div>

